<%- include('../../partials/header.ejs')  %>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3 col-md-3">
      </div>
      <div class="col-12 col-lg-6 col-md-6">
        <div class="card card-body my-4 mx-0 mx-lg-5 mx-md-5">
          <h4 class="text-secondary">Create A New Account</h4>
          <form action="/auth/sign" method="post" class="py-3">
            <div class="row">
              <div class="col">
                <label for="username" class="form-label">Enter you username (must be unique)</label>
                <input type="text" class="form-control" name="username" id="username">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="email" class="form-label">Enter you email (use correct email)</label>
                <input type="email" class="form-control" name="email" id="email">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="password" class="form-label">Enter you password (password must be strong)</label>
                <input type="password" class="form-control" name="password" id="password">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="confirmPassword" class="form-label">Confirm your password</label>
                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <input type="submit" class="btn btn-primary" value="sign up">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-md-3">
      </div>
    </div>
  </div>

<%- include('../../partials/footer.ejs')  %>
</body>
</html> 

