<%- include('../partials/header.ejs')  %>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3 col-md-3">
      </div>
      <div class="col-12 col-lg-6 col-md-6">
        <div class="card card-body my-4 mx-0 mx-lg-5 mx-md-5">
          <h4 class="text-secondary">Create A New Account</h4>
          <form action="/playground/play" method="post" enctype="multipart/form-data" class="py-3">
            <div class="row">
              <div class="col">
                <label for="username" class="form-label">Enter you username (must be unique)</label>
                <input type="text" class="form-control" name="username" id="username">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="my-file">Choose your file</label>
                <input type="file" name="my-file" class="form-control">
              </div>
            </div>
            
            <div class="row mt-3">
              <div class="col-3">
                <input type="submit" class="btn btn-primary" value="sign up">
              </div>
              <div class="col-9">
                <p class="mt-2">Already have an account? <a href="/auth/login">login now</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-md-3">
      </div>
    </div>
  </div>

<%- include('../partials/footer.ejs')  %>
</body>
</html> 

